.content > * {
  margin-bottom: 60px;
}

.logo-main {
  width: 95%;
  overflow: hidden;
  opacity: 0;
  transform: translateY(25px);
  animation: animate-logo 1s ease-in-out 0.5s;
  animation-fill-mode: forwards;
  margin: auto;
}

.information {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;
}

.information p {
  flex: 2 1 65%;
  margin: initial;
}

.information p br {
  line-height: 5em;
  margin: 2.5em 0;
}

.downloadable {
  flex: 1 1 35%;
  padding: 30px;
}

.downloadable a {
  display: block;
  max-width: 70%;
  padding: 12px 8px;
  text-align: center;
  margin: auto;
  border-radius: 24px;
}

.information a img {
  width: 60px;
  height: auto;
}

.information a h3 {
  margin: 8px;
}

@keyframes animate-logo {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(-0px);
    opacity: 1;
  }
}

/* mobile stylings below */

@media only screen and (max-width: 650px) {
  .content > * {
    margin-bottom: 16px;
  }
}
