.content > * {
  margin-bottom: 80px;
}

.content {
  padding-top: 40px;
}

.about-main-pic {
  padding-top: 60px;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  left: -0%;
  /* transform: translateX(25%); */
  height: 600px;
  background-image: linear-gradient(
      0deg,
      rgba(164, 164, 165, 0.05),
      rgba(80, 180, 67, 0.05)
    ),
    url("https://images.unsplash.com/photo-1479839672679-a46483c0e7c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=710&q=100");
  background-position: 0em;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes animate-title {
  0% {
    top: 60%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.about-main-pic h1 {
  position: relative;
  text-shadow: -1px -1px 0 #999, 1px 0px 0 #999, -1px 1px 0 #999, 1px 1px 0 #999;
  color: azure;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 7rem;
  letter-spacing: 0.1em;
  top: 60%;
  opacity: 0;
  transform: translateY(-50%);
  animation: animate-title 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}

.company {
  display: flex;
  max-width: 100vw;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 60px;
}

.company > img {
  width: 80%;
  margin: 0 auto 32px;
  opacity: 0;
}

.download-flex {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 32px;
  padding: 0px 16px 16px;
}

.company > img.animated.active {
  animation: animate-title 1s ease-in-out forwards;
}

@keyframes animate-title {
  0% {
    top: 60%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.download-flex::-webkit-scrollbar {
  height: 14px;
  background-color: #f2f2f2;
}

.download-flex::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}

.download-flex::-webkit-scrollbar-thumb:horizontal {
  border-radius: 12px;
  border: 1px solid #aaa;
}

.download-flex::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}

.download-flex::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22add4, #1e98ba);
}

.download-flex .card {
  width: 260px;
  height: auto;
  padding: 12px;
  flex: 0 0 auto;
}

.download-flex .card img {
  width: 200px;
  height: auto;
  margin: 8px auto;
}

.download-flex .card:hover {
  background-color: #f2f2f2;
}

.download-flex .card h4 {
  text-align: left;
  margin: 12px;
}

.download-flex .card.animated.active:first-child {
  animation: cards-slide 0.8s ease-out;
}

.download-flex .card.animated.active:nth-child(2) {
  animation: cards-slide 0.9s ease-out;
}

.download-flex .card.animated.active:nth-child(3) {
  animation: cards-slide 1s ease-out;
}

.download-flex .card.animated.active:nth-child(n + 4) {
  animation: cards-slide 1.1s ease-out;
}

@keyframes cards-slide {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 650px) {
  .content {
    margin: 0 16px;
  }

  .company > img {
    width: 100%;
    margin: 0 auto 32px;
  }

  .about-main-pic h1 {
    max-width: 350px;
    font-size: 2.5rem;
  }
}
