body {
  background-color: #fffaf1;
}

.content > * {
  margin-bottom: 60px;
}

.main-slogan {
  font-size: 5em;
  text-align: center;
  opacity: 0;
  transform: translateY(25px);
  animation: animate-slogan 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}

@keyframes animate-slogan {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(-0px);
    opacity: 1;
  }
}

.contact {
  margin-bottom: 32px;
}

.contact-info {
  width: 30%;
  align-self: center;
  margin-bottom: 24px;
}

.address {
  width: 60%;
  text-align: center;
}

iframe {
  width: 100%;

  margin: auto;
}

/* Climbers image */

.about-main-pic {
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
  left: -0%;
  /* transform: translateY(25%); */
  margin-bottom: 60px;
}

#climbersBG {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 500px;
  left: -0%;
  top: 0%;
  z-index: -100;
}

#climbersFG {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 500px;
  left: -0%;
  top: 0%;
  z-index: 10;
}

.about-main-pic h1 {
  position: absolute;
  color: #fffaf1;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.548);
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 8em;
  max-width: 70%;
  left: 0;
  right: 0;
  letter-spacing: 0.1em;
  top: 100%;
  opacity: 0;
  transform: translateY(-80%) scaleY(1);
}

.title.active {
  animation: animate-title 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animate-title {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.main-form {
  margin-bottom: 60px;
}

.main-form h3 {
  font-size: 32px;
}

.contact-form {
  width: clamp(250px, 70%, 95%);
}

@media only screen and (max-width: 650px) {
  .main-slogan {
    margin: 32px auto;
    font-size: 3em;
  }

  .contact-info {
    width: 90%;
  }

  .address {
    width: 95%;
  }

  .about-main-pic h1 {
    font-size: 4rem;
    line-height: 100%;
    transform: translateY(-130%) scaleY(1);
    padding: 20px 30px;
  }

  .content > * {
    margin-bottom: 30px;
  }

  #climbersBG {
    object-position: -170px 0px;
  }

  #climbersFG {
    object-position: -220px 0px;
  }

  .contact-form {
    width: 95%;
  }
}
