*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}

.centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
}

/* HEADER styling below*/

.main-header {
  height: 60px;
  width: 100%;
  background-color: #a3a3a3;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  padding: 0 18px;
  z-index: 100;
}

header .logo {
  max-width: 250px;
  padding: 0 32px;
  overflow: hidden;
  transition: transform 0.2s;
}

header .logo a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
}

header .logo a img {
  max-width: 100%;
  max-height: 55px;
  transform: translateY(-0px);
}

header .logo:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 10px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  gap: 0em;
}

#nav-lists-mobile {
  display: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 20px;
}

.navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.navbar ul .close span {
  font-size: 32px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

/* IMAGE GALLERY styling below */

.carousel {
  width: 90vw;
  height: clamp(300px, calc(100vh - 300px), calc(100vh - 80px));
  position: relative;
  border: 2px ridge #cfcfcf;
  border-radius: 20px;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
  background-image: linear-gradient(
    -15deg,
    rgb(39, 39, 39) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  opacity: 0.5;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  z-index: 3;
  padding-bottom: 6px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 3rem;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.quote {
  text-shadow: -1px -1px 0 #000, 1px -0px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white;
  position: absolute;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  max-width: 36%;
  left: 60%;
  bottom: 5%;
  z-index: 4;
  opacity: 0;
  animation: 1s ease-out 0.5s 1 forwards revealQuote;
}

@keyframes revealQuote {
  from {
    opacity: 0;
    left: 50%;
  }
  to {
    left: 60%;
    opacity: 1;
  }
}

/* About us section */

.about {
  margin: 32px auto;
  width: clamp(320px, 90%, 100%);
}

.about h2 {
  font-size: 32px;
}

/* Cards Flexbox */

.companies-products {
  margin-bottom: 60px;
  margin-top: 48px;
}

.companies-products h2 {
  margin-bottom: 60px;
  font-size: 32px;
}

.cards-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}

.card {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 4px 8px 16px -9px darkgray;
  transition: transform 0.2s, box-shadow 0.2s; /* Animation */
}

.card h3 {
  font-size: 20px;
  margin-bottom: 4px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 6px 12px 16px -12px darkgray;
  z-index: 2;
  background-color: white;
}

.card img {
  max-width: 100%;
  height: 240px;
  margin-top: auto;
  object-fit: cover;
  align-self: flex-end;
  border-radius: 8px;
}

/* Contact section */

.contact {
  margin: 40px auto;
}

.contact h2 {
  font-size: 32px;
}

.contact-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact a {
  text-decoration: none;
  color: #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(300px, 42%, 500px);
}

.contact-info p {
  margin: 8px;
}

.contact-info img {
  width: 50px;
  margin-top: 24px;
}

.contact-info a {
  text-align: center;
}

.contact hr {
  margin: 24px;
}

.contact-form {
  width: clamp(300px, 42%, 500px);
}

.email-form {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.contact-form h3 {
  margin-bottom: 24px;
}

#form-name,
#form-email {
  width: 44%;
  height: 24px;
  font-size: 16px;
  font-family: "Merriweather", serif;
}

.contact-form label {
  margin-top: 20px;
  margin-bottom: 8px;
  color: grey;
  font-style: italic;
}

#form-message {
  width: 92%;
  height: 160px;
  text-align: left;
  resize: vertical;
  font-size: 16px;
  font-family: "Merriweather", serif;
}

.email-form button {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 8px 32px;
  background-color: rgb(0, 116, 211);
  border: 1px solid white;
  border-radius: 8px;
}

/* other styling below */

footer {
  background-color: #7fc996;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > h3 {
  margin: 0px;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 80px 10px 0 10px;
}

/* 

    Mobile stylings below:

*/

@media only screen and (max-width: 670px) {
  .contact hr {
    height: 1px;
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  /* HEADER */

  .main-header {
    padding: 0;
  }

  header .logo {
    flex: 1;
  }

  header .navbar {
    flex: 0;
  }

  #nav-lists-mobile {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.99);
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left 0.3s ease-in;
    gap: 0.2em;
  }

  #nav-lists {
    display: none;
  }

  .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    text-transform: initial;
    color: #555555;
    text-align: center;
  }

  .navbar ul li a.bolder {
    text-transform: uppercase;
    background-color: rgb(235, 235, 235);
    font-size: 18px;
    font-weight: bold;
  }

  .navbar ul .close {
    display: block;
  }

  .navbar .icon-bar {
    display: flex;
  }

  ._Menus-show {
    left: 0 !important;
  }

  /* IMAGE GALLERY */

  .carousel {
    width: 90vw;
    height: calc(90vh - 60px);
  }

  .carousel-button {
    font-size: 2rem;
    line-height: 2rem;
  }

  .carousel-button.prev {
    left: 0.3rem;
  }

  .carousel-button.next {
    right: 0.3rem;
  }

  .quote {
    font-size: 24px;
    max-width: 80%;
    left: 10%;
    bottom: 5%;
    z-index: 4;
    animation: 1s ease-out 0.5s 1 forwards revealQuoteMobile;
  }

  @keyframes revealQuoteMobile {
    from {
      opacity: 0;
      left: 0%;
    }
    to {
      left: 10%;
      opacity: 1;
    }
  }
}
