*,
*::before,
*::after {
  box-sizing: border-box;
  color: #353535;
  font-family: "Montserrat", Geneva, Tahoma, sans-serif;
  /* font-style: medium; */
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.content > * {
  margin-bottom: 120px;
}

.centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 24px;
}

.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  padding: 12px 16px;
  background-color: #55a562;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  outline: inherit;
  border: none;
}

.btn:hover {
  background-color: #4e975a;
}

.btn:active {
  background-color: #4e975a;
  transform: translate(-1px, 1px);
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER styling below*/

.main-header {
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
  overflow: hidden;

  z-index: 100;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 24px 24px;

  padding-left: clamp(48px, calc(100vw / 2 - 1200px / 2), 33%);
  padding-right: clamp(48px, calc(100vw / 2 - 1200px / 2), 33%);
}

header .logo {
  max-width: 300px;
  margin: 16px 0px;
  overflow: hidden;
  transition: transform 0.1s;
}

header .logo a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .logo a img {
  width: auto;
  height: 48px;
  backface-visibility: hidden;
}

header .logo:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* padding: 0 10px; */
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  gap: 32px;
}

#nav-lists-mobile {
  display: none;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.navbar ul li > a {
  color: #828282;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.navbar ul li > a:hover {
  color: #353535;
}

.navbar ul li .btn {
  color: #fff;
  /* padding: 12px 16px; */
}

#currentsection {
  text-decoration: underline;
}

.navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.navbar ul .close span {
  font-size: 32px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.navbar .icon-bar i {
  background-color: #1a1a1a;
  height: 2px;
}

.content {
  max-width: 1024px;
  margin: auto;
  padding: 120px 0 0 0;
}

/* IMAGE GALLERY styling below */

.carousel {
  width: 100vw;
  height: clamp(300px, 400px, 90vh);
  position: relative;
  border-radius: 24px;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 1s opacity ease-in-out;
}

.slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(15, 15, 15, 0.77) 100%
  );
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

#image2 {
  object-position: center 35%;
}

.quote {
  color: white;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  max-width: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: 24px;
  z-index: 4;
  opacity: 0;
  animation: 1s ease-out 0.5s 1 forwards revealQuote;
}

@keyframes revealQuote {
  from {
    opacity: 0;
    left: 40%;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}

.slide-dots {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  z-index: 4;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #6d6d6d;
  border-radius: 50%;
}

.slide-dots .current {
  background-color: #fff;
}

/* About us section */

.about {
}

.about h2 {
  margin-bottom: 48px;
  margin-top: 0px;
}

/* Flexbox cards styling */

.cards-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 32px;
}

.card {
  width: 320px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #ffffff;
  /* 1 LVL */

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  transition: transform 0.2s, box-shadow 0.2s; /* Animation */
}

.about .cards-flex .card {
  padding: 32px;
}

.about .cards-flex .card img {
  width: 48px;
  height: 48px;
  margin: 12px auto;
  filter: invert(54%) sepia(49%) saturate(410%) hue-rotate(78deg)
    brightness(94%) contrast(89%);
}

.about .cards-flex .card h4 {
  color: #55a562;
  margin: 0 auto 12px;
}

.about .cards-flex .card p {
  text-align: center;
  margin: 0;
}

hr {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -120px;
  padding: 0;
  border: 0;
}

.companies-products h2 {
  margin-bottom: 48px;
}

.companies-products .cards-flex .card {
  padding: 24px;
}

.companies-products .cards-flex .card img {
  width: 100%;
  height: 240px;

  object-fit: cover;
  align-self: flex-end;
  border-radius: 12px;
}
.companies-products .cards-flex .card .btn {
  width: 100%;
  height: 48px;
  margin-top: auto;
  position: relative;
  bottom: 0;
}

.companies-products .cards-flex .card h4 {
  margin: 20px 0 0;
}

.companies-products .cards-flex .card p {
  margin-top: 12px;
  margin-bottom: 20px;
}

.companies-products .cards-flex .card:hover {
  transform: scale(1.05);
  z-index: 2;
  background-color: #f7f7f7;
}

/* Contact section */

.contact {
}

.contact h2 {
  text-align: center;
}

.contact-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin: 48px auto 0;
}

.contact a {
  text-decoration: none;
}

.contact-flex > div {
  width: clamp(250px, 490px, 90%);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-weight: bold;
}

.contact-info > * {
  width: 100%;

  background: #ffffff;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.contact-info a {
  display: flex;
  gap: 12px;
  padding: 16px;
  align-items: center;
}

.contact-info p {
  margin: 0;
}

.contact img {
  width: 24px;
  height: 24px;
}

.contact-info iframe {
  width: 100%;
  border-radius: 8px;
}

.contact-form {
  padding: 32px;

  background: #ffffff;
  /* 1 LVL */

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  height: calc(100% -200px);
}

.contact-form h4 {
  text-align: center;
  margin: 0 auto;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  height: calc(100% - 48px);
}

.contact-form h4 {
  margin-bottom: 24px;
}

#form-name,
#form-email,
#form-message {
  width: 100%;
  height: auto;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  padding: 12px 16px;
}

#form-message {
  min-height: 370px;
  resize: vertical;
}

#form-name::placeholder,
#form-email::placeholder,
#form-message::placeholder {
  color: #a8a8a8;
}

.email-form .btn {
  border-radius: 4px;
  position: relative;
  bottom: 0;
}

/* Footer styling below */

footer {
  background-color: #fff;
  color: #55a562;
  height: auto;
  width: 100%;
  padding: 16px;
  box-shadow: 0px -4px 8px rgba(14, 29, 88, 0.1);
  border-radius: 24px 24px 0px 0px;
}

.footer-limiter {
  max-width: 1024px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

footer a {
  color: inherit;
}

footer p {
  font-size: 14px;
}

footer p a {
  text-decoration: underline;
}

footer img {
  height: 24px;
  width: 24px;
  image-rendering: auto;
}

/* 

    Mobile stylings below:

*/

@media only screen and (max-width: 670px) {
  .contact hr {
    height: 1px;
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  /* HEADER */

  .content > * {
    margin-bottom: 60px;
  }

  .main-header {
    padding: 0 24px;
    margin: 0;
    height: 70px;
  }

  header .logo {
    flex: 1;
  }

  header .navbar {
    flex: 0;
  }

  #nav-lists-mobile {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    left: 0;
    top: -15%;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.99);
    width: 100%;
    height: 70px;
    overflow: auto;
    justify-content: right;
    align-items: stretch;
    padding: 0 16px;
    transition: top 0.3s ease-in-out;
    gap: 16px;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 24px 24px;
  }

  #nav-lists {
    display: none;
  }

  .navbar ul li {
  }

  .navbar ul .close {
    display: block;
    margin-right: auto;
    align-self: center;
    /* border: 2px solid #353535; */
  }

  .navbar ul .close img {
    height: 32px;
    width: 32px;
    object-position: center 2px;
  }

  .navbar .icon-bar {
    display: flex;
  }

  ._Menus-show {
    left: 0 !important;
    top: 0 !important;
  }

  .content {
    padding-top: 90px;
  }

  /* IMAGE GALLERY */

  .carousel {
    width: 90vw;
    max-height: 40%;
  }

  .carousel br {
    display: none;
  }

  .quote {
    position: absolute;
    left: 50%;
    transform: translateX(0%);
    width: 90%;
    bottom: 5%;
    text-align: center;
    max-width: 80%;
    animation: 1s ease-out 0.5s 1 forwards revealQuoteMobile;
  }

  @keyframes revealQuoteMobile {
    from {
      opacity: 0;
      left: 0%;
    }
    to {
      left: 10%;
      opacity: 1;
    }
  }

  footer h1 {
    font-size: 48px;
  }

  footer ul {
    text-align: left;
  }
}
