.flex-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
  justify-content: center;
}

.card {
  height: 320px;
  width: 320px;
  max-height: 95vh;
  max-width: 95vw;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.card img {
  height: 244px;
  width: 288px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.flex-grid a>img {
  max-width: 90px;
  height: auto;
  color: #444444;
  filter: invert(24%) sepia(18%) saturate(0%) hue-rotate(242deg) brightness(85%) contrast(81%);
  margin: 80px auto 40px;
}

.card h4 {
  justify-self: flex-end;
  position: absolute;
  bottom: 16px;
  left: 16px;
  max-width: 280px;
  font-size: 14px;
  margin: 0;
}

.card:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

#template {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#template>.card {
  margin: 120px auto auto;

  height: auto;
  padding-bottom: 60px;
  width: auto;
  min-width: 300px;
  max-width: 90vw;
  max-height: 80vh;
  top: calc(50% - 120px);
  transform: translateY(-50%);
}

#template>.card h4 {
  max-width: calc(100% - 32px);

  bottom: 16px !important;
}

.reveal>.card {
  animation: fullscreenPic 0.2s ease-out forwards;
}

@keyframes fullscreenPic {
  from {
    transform: translateY(-50%) scale(0.01);
  }

  to {
    transform: translateY(-50%) scale(1);
  }
}

#template>.card:hover {
  background-color: white;
  cursor: initial;
}

.double h4 {
  bottom: 8px;
}

#template>.card img {
  height: auto;
  max-height: calc(80vh - 16px - 60px);
  /* padding-bottom: 0px; */
  width: auto;
  margin: auto;
  object-fit: contain;
  border-radius: 8px;
}

@media only screen and (max-width: 700px) {
  .content {
    /* padding: 8px; */
    padding-top: 80px;
  }

  .content h1 {
    text-align: center;
  }

  #template>.double img {
    margin-bottom: 8px;
  }
}